/* COLORS AND FONTS */

.section1{
    background-color: #1F2937;;
}
body{
    margin:0;
}
.logo{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.logotext{
    color:#F9FAF8;
    font-size: 24px;
}

.header-link,.herosub{
    font-size: 18px;
    color: #e5e7eb;;
    padding: 10px;
}

footer {
    background-color: #1F2937;
    padding:15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.heromain {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}

.symbol {
    width: 300px;
    height:auto;
    margin:20px;
    border: #4CAF50;
    border-radius: 30%;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.sec2text {
    font-size:18px;
    color:#1F2937;
}

.imagesec2{
    border:navy solid;
    border-radius:5%;
}


.quote{
    font-size: 36px;
    font-style: italic;
    color:#1F2937
}

.author {
    font-size:20px;
}



/* FLexbox stuff */




header {
    display:flex;
    justify-content: space-between;
}

.lheader{
    display:flex;
    align-items: center;
    gap: 10px;
    padding:10px;
}

.header-link{
    display:flex;
    align-items: center;
    gap:10px;
}

.container {
    display:flex;
    padding:10px;
}


.textandbutton {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px;
    align-items:center;
    justify-content: space-between;
    margin:auto;
    gap:20px;
}


.section2{
    display:flex;
    margin:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:100px;
    margin:100px;
    border:#4CAF50 solid;

}

.container2 {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.imagesec2{
    margin: auto;
    margin-top: 25px;
}

.sec2text {
    font-weight: 300;
    font-style: italic;
    margin:20px;
    width:250px;
}


.section3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: #E5E7EB;

}

.section4{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin:100px;
    padding:30px;
    border:5px;
    gap:20px;
    border-radius: 25px;
    width:auto;
    color: #F9FAF8;
    font-weight: 700;
}

.help {
    font-size: 30px;
}

.button2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

footer {
    display:flex;
    color:#E5E7EB;
    text-decoration: none;
    display: flex;
    padding:10px;
    text-align: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color:#3882F6;
}

.link1>a{
    color:white;
}

.link2>a{
    color:white;
}

.link3>a{
    color:white;
}



/* button stuff */


.button{
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 16px;
    position: relative;
    transition: transform 10s;
}


button:hover{
    color:gainsboro;
    animation: bubble 3s ease-out;
}


@keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }